<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    Simple!
    Name:
    <br />
    <input type="text" data-ng-model="name"/>

    <ul>
        <li data-ng-repeat="cust in customers | filter:name | orderBy:city" /li> {{cust.name}}, {{cust.city}}
    </ul>

    <br /><br />
    <input type="text" data-ng-model="customers.NewName" />
    <input type="text" data-ng-model="customers.NewCity" />

    <button data-ng-click="addCustomer()">Add Guy</button>

</body>
</html>
